.dropdown-menu {
    top: 20%; /* Position below the parent container */
}
.hamburger{
    position: relative;
    right: 1%;
    justify-self: end;
    padding-left: 0;
}

.green-header{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0.1em 3em;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo-image{
    position: relative;
    margin-right: 1em;
}